services:
  backend:
    build: .
    ports:
      - '4000:4000'
    environment:
      NODE_ENV: production
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - ./:/app
      - /app/node_modules
    command: ['node', 'dist/main']
    networks:
      - backend
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - backend

networks:
  backend:

volumes:
  redis_data:
